@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Honk:MORF,SHLN@14,59.8&family=Kalam:wght@300;400;700&family=Roboto+Slab:wght@100..900&display=swap');

form {
  max-width: 350px;
  border: 1px solid #ccc;
  padding: 0px 70px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #f9f9f9cd;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;

}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  font-weight: bold;
  text-align: left;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="date"]{
  
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

form h1 {
  text-align: center;
  margin-bottom: 23px;
}

#register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/Fitness_gym_interior_sunset_16_9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#birth{
  width:182px;
}
#name{
  width: 182px;
}