<div *ngIf="item" class="wrapper">
  <div class="item-card">
    <img [src]="item.photo" alt="{{ item.name }} Photo">
    <div class="item-details">
      <h2>{{ item.name }}</h2>
      <div class="det">
      <p>Weight: {{ item.weight }}</p>
      <p>Price: {{ item.price }}</p>
      <p>Description: {{ item.description }}</p>
    </div>

    

   

      <div *ngIf="isAdminUser()">
        <button (click)="editItem()">Edit</button>
        <button (click)="deleteItem()" >Delete</button>
      </div>
    </div>
  </div>
</div>