.catalog {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-item {
  box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  text-align: center;
  border: 1px solid #d9d7da;
  margin: 0px;
  padding: 20px 20px;
  border-radius: 12px;
  margin-left: 40px;
}

.catalog-item img {
  width: 323px;
  height: 323px;
}

.catalog-item h3 {
  font-size: 22px;
  font-weight: bolder;
  margin-top: 8px;
}

.catalog-item p {
  font-size: 18px;
  padding: 10px;
}

.details-button {
  width: 100px;
  height: auto;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: inline;
  align-items: center;
  text-align: center;
  background-color: #ac9dd7;
  transition: 500ms;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
  margin-top: 10px;
}

.details-button:hover {
  box-shadow: none;
}
