@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Kalnia+Glaze:wght@100..700&display=swap');
#wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  left: 0;
  right: 0;
  gap: 30px;
  font-family: "Emilys Candy", serif;
  font-weight: 600;
  font-style: normal;
  color: darkblue;
    text-shadow: 3px 3px white;
}

#wrapper div:hover{
  scale: 1.2;
  cursor: pointer;
  
}
img{
  margin-top: 16px;
  width: 60px;
  height: 60px;
}