.home-container {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/angular-softuni-project-21b88.appspot.com/o/uploads%2FDALL%C2%B7E_2024_04_05_11_17_21_Create_a_realistic_image_depicting_the.png?alt=media&token=a2b4906b-0ebe-472e-b584-61ef7d23d0ff);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  
}
.home-container p{
  width: 50vw;
  font-size: 18px;
}

.home{
  background-color: black;
 
}
.text{
  background-color: rgba(2, 4, 6, 0.557);
  padding: 20px;
  border-radius: 20px;
}