<div *ngIf="item">
  <div class="item-card">
    <img [src]="item.photo" alt="{{ item.name }} Photo">
    <div class="item-details">
      <h2>{{ item.name }}</h2>
      <p>Weight: {{ item.weight }}</p>
      <p>Price: {{ item.price }}</p>
      <p>Description: {{ item.description }}</p>
      <button *ngIf="isAdminUser()" (click)="editItem()">Edit</button>
      <button *ngIf="isAdminUser()" (click)="deleteItem()" class="btn btn-danger">Delete Document</button>
    </div>
  </div>
</div>